.main-container {
  width: 950px;
  height: auto;
  border: 2px solid black;
  margin-left: 270px;
  margin-top: 50px;
  overflow: auto;
  border-radius: 20px;
  padding: 20px;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deck {
  width: 48%;
  margin-left: 10px;
  float: left;
}
